:root {
	pointer-events: auto;

	font-weight: 400;
	color: whitesmoke;

	user-select: none;
}

body {
	margin: 0;
	display: flex;
	place-items: center;
	justify-content: center;
	min-width: 100vw;
	min-height: 100vh;
}

#root {
	display: flex;
	place-items: center;
	justify-content: center;

	min-width: 100vw;
	min-height: 100vh;
}
