.my-button:hover {
	background-color: var(--color-primary-light);

	transform: translateY(-2px);
}

.my-button:active {
	transform: translateY(0);
}

.my-button:focus {
	background-color: var(--color-primary-light);

	transform: translateY(-2px);
	outline: none;
}
